<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Version" value="1.0.0.1" />
  </appSettings>
    <applicationSettings>
        <DataUpdate.Properties.Settings>
            <setting name="DataUpdate_WebReferenceJiangSu_IVehicleServiceService"
                serializeAs="String">
                <value>http://192.168.1.200:8081/synchrodata/webservice/SynTocity</value>
            </setting>
        </DataUpdate.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IVehicleServiceServiceSoapBinding" />
                <binding name="IBdServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://47.114.113.127:8080/synchrodata/webservice/SynTocity"
                binding="basicHttpBinding" bindingConfiguration="IVehicleServiceServiceSoapBinding"
                contract="JsInterfaceInspection.IVehicleService" name="IVehicleServicePort" />
            <endpoint address="http://47.114.113.127:8080/synchrodata/webservice/bd"
                binding="basicHttpBinding" bindingConfiguration="IBdServiceServiceSoapBinding"
                contract="JsInterfaceBd.IBdService" name="IBdServicePort" />
        </client>
    </system.serviceModel>
</configuration>
